<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="fragments/layout">
<head>
  <title>
    English Challenge | Basic Mission</title>
</head>
<body>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
     <h1>
        Basic Mission
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Basic Mission</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
      <div class="row">
        <div class="box box-primary">
           <div class="box-body">
            <div class="col-md-12">
                  <h3 class="text-center">List Mission</h3>
                  
                  <div class="progress-group">
                    <span class="progress-text"><a href="basicMissionDetail.html">Learn 5 vocabularies</a></span>
                    <span class="progress-number"><b>1</b>/5</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-aqua" style="width: 20%"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text"><a href="#">Learn 5 grammars</a></span>
                    <span class="progress-number"><b>2</b>/5</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-red" style="width: 40%"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text"><a href="">Listen to 2 conversations and answer questions</a></span>
                    <span class="progress-number"><b>2</b>/2</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-green" style="width: 100%"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text"><a href="">Read 2 the articles and answer questions</a></span>
                    <span class="progress-number"><b>1</b>/2</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-yellow" style="width: 50%"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
                </div>
                <!-- /.col -->
           </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</body>
</html>