<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="fragments/layout">
<head>
  <title>
    English Challenge | Basic Mission Detail</title>
</head>
<body>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" layout:fragment="content">
<!-- Content Header (Page header) -->
    <section class="content-header">
     <h1>
        Chi tiết nhiệm vụ
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Nhiệm vụ cơ bản</li>
        <li class="active">Chi tiết nhiệm vụ</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
      <div class="row">
        <div class="box box-primary">
           <div class="box-body">
            <div class="col-md-12">
                <h4>Học 5 từ vựng</h4>
                <span><b>Câu hỏi 1/5:</b></span>
                <h5>Chọn từ vựng mô tả hình ảnh sau đây:</h5>
                <div class="col-sm-12">
                  <div class="col-sm-3">
                  </div>
                  <div class="col-sm-6">
                    <img class="img-responsive text-center" th:src="@{/resources/dist/img/photo1.png}"alt="Photo">
                  </div>
                </div>
                <h5>Hãy chọn đáp án đúng nhất:</h5>
                <div class="row col-sm-12">
                  <div class="col-sm-3">
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group text-left">
                      <label>
                        <input type="radio" name="r3" class="flat-red" checked>
                        Home
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-3">
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group text-left">
                      <label>
                        <input type="radio" name="r3" class="flat-red" checked>
                        Sun
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row col-sm-12">
                  <div class="col-sm-3">
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group text-left">
                      <label>
                        <input type="radio" name="r3" class="flat-red" checked>
                        Tower
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-3">
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group text-left">
                      <label>
                        <input type="radio" name="r3" class="flat-red" checked>
                        Street
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-danger">Submit</button>
                  </div>
                </div>
            </div>
           </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</body>
</html>